<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
</head>

<body>

	<div th:fragment="layout-header" class="container">
		<h1 th:class="site_title" th:text="#{shop.title}"></h1>
		<h2 id="notSale"></h2>
		<h2 id="sale" style="color:red;"></h2>

		<script>
			/**
			 * 現在時刻を取得して表示する関数
			 */
			function showCurrentTime() {
				const now = new Date(); // 現在日時を取得
				const hours = String(now.getHours()).padStart(2, '0');
				const minutes = String(now.getMinutes()).padStart(2, '0');
				const seconds = String(now.getSeconds()).padStart(2, '0');
				//セールは何時から何時か指定
				if (hours >= 19 && hours <= 22) {
					//セール時に表示するメッセージ
					document.getElementById("sale").innerHTML = "19時から22時までタイムセール中！合計金額から10％オフ！";

				}
				else {
					document.getElementById("notSale").innerHTML = "19時から22時はタイムセール！お楽しみに！";

				}
			}

			// 初回表示
			showCurrentTime();

			// 1秒ごとに更新
			setInterval(showCurrentTime, 1000);
		</script>

		<div th:if="${session.user != null and session.user.authority == 2}" class="user_info">
			<a th:href="@{/client/user/detail}" th:text="${session.user.name}"></a>さん | <a th:href="@{/logout}"
				th:text="#{logout}"></a>
		</div>
		<div th:if="${session.user != null and (session.user.authority == 0 or session.user.authority == 1)}"
			class="user_info">
			<a th:href="@{/admin/user/detail/{id}(id=${session.user.id})}" th:text="${session.user.name}"></a>さん | <a
				th:href="@{/logout}" th:text="#{logout}"></a>
		</div>
		<div th:if="${session.user == null}" class="user_info">
			<a th:href="@{/login}" th:text="#{login}"></a> | <a th:href="@{/client/user/regist/input/init}"
				th:text="#{client.regist}"></a>
		</div>
	</div>
</body>

</html>