@charset "UTF-8";

/* ---- 共通 ---- */
/* スキルアップテクニック1-1
 * html要素に対しmin-heightプロパティを付けることで、
 * 最小でも表示領域が画面の高さを持つことになります。
 * これにより画面の一番下まで表示領域を拡大し、
 * footerを画面下に配置することができます。
 * positionプロパティは絶対位置表示を可能にし、
 * 値relativeを設定することで子要素(今回はfooter要素)の配置基準になります。
 */
html {
	min-height: 100%;
	position: relative;
}

/* スキルアップテクニック1-2
 * 下方向にmarginの余白を設定することでfooterの表示領域を確保します。
 * paddingプロパティの値0は、body要素が持つ枠の領域を取り消します。
 */
body {
	margin: 0 0 30px;
	padding: 0;
}

h2,
h3 {
	font-size: 1em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

/* スキルアップテクニック2
 * displayプロパティでは表示方式を変更することができます。
 * block表示だったform要素をinline表示に変更することで、
 * ボタンを横並びにすることができます。
 */
form {
	display: inline;
}

table {
	width: 100%;
	background-color: #fff;
	border-collapse: collapse;
	margin: 0px auto 20px;
}

ul,
li {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;

}



.container {
	width: 960px;
	margin: 0 auto;
	justify-content: space-between;
}

body>.container {
	margin-top: 15px;
}

.content {
	padding: 30px 0 60px;
}

/* ---- ヘッダー ---- */
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*ヘッダーとフッターにグラデーションを追加（伊藤）*/
.user header {
	height: 70px;
	background: #fff;
	background-image:
		-webkit-linear-gradient(to right, #FFD6E7, #FFF6CC, #C8E7FF, #E7C6FF);
	background-image:
		-moz-linear-gradient(to right, #FFD6E7, #FFF6CC, #C8E7FF, #E7C6FF);
	background-image:
		-ms-linear-gradient(to right, #FFD6E7, #FFF6CC, #C8E7FF, #E7C6FF);
	background-image:
		-o-linear-gradient(to right, #FFD6E7, #FFF6CC, #C8E7FF, #E7C6FF);
	background-image:
		linear-gradient(to right, #FFD6E7, #FFF6CC, #C8E7FF, #E7C6FF);

	padding: 10px 0;
	color: #fff;
}


.admin header {
	background: #ff8669;
}

/* スキルアップテクニック3
 * font-sizeの単位emは親要素に設定されたfont-sizeの相対指定となります。
 * 親要素のfont-sizeが16px設定だとしたら、1.8emでは1.8倍、即ち28.8pxの大きさとなります。
 * デザインにはジャンプ率の考え方があり、基本の大きさからの倍率で文字サイズを決めることが多々あります。
 * その様な場合、em指定をしておくと便利です。
 * 基本サイズが変更になったとしても、比例して大きさが変化します。
 */

.site_title {
	font-size: 1.8rem;
	font-weight: normal;
	margin: 0;
}

/*ユーザー画面のサイトタイトル*/
.user .site_title {
	font-family: "DynaPuff", sans-serif;
	font-size: 3em;
	font-weight: 600;
	margin: 0;
	text-shadow:
		0 0 4px rgba(0, 0, 0, 0.4),
		0 0 8px rgba(0, 0, 0, 0.2);
}

/*セール表示を追加（伊藤）*/
.user .user_sale-info {
	order: 1;
	padding: 5px 10px;
	background-color: rgba(255, 255, 255, 0.3);
	border: 5px dotted #fff;
	border-radius: 20px;
	box-shadow: 0 6px 12px rgba(255, 182, 215, 0.4);
}

/* 中に #sale がある時だけ、親の枠線を赤くする（伊藤）*/
.user_sale-info:has(#sale:not(:empty)) {
	border: 5px dotted pink;
}

.user .user_sale-info p {
	font-size: 1.1rem;
	font-weight: bold;
	color: #ff69b4;
	letter-spacing: 2px;
	margin: 0;
	line-height: 1.5;
	text-shadow:
		2px 2px 0 #fff, -2px -2px 0 #fff,
		2px -2px 0 #fff, -2px 2px 0 #fff,
		0 2px 0 #fff, 0 -2px 0 #fff,
		2px 0 0 #fff, -2px 0 0 #fff;
}

.sale-time {
	color: #ff55a3;
	letter-spacing: 1px;
}

.sale-highlight {
	font-size: 1.2rem;
	color: #ff3385;
	display: inline-block;
}


/* --ログイン画面-- */
.user_info {
	order: 2;
	text-align: right;
	padding-top: 15px;
}

/* ボタン */
.user_info a {
	text-decoration: none;
	color: rgb(128, 0, 0);
	padding: 10px;
	border-radius: 100px;
	transition: transform 0.2s ease;
}

.user_info .login_button,
.user_info .user-detail_button {
	border: 2px solid #FFF6CC;
	background-color: rgba(255, 255, 255, 0.3);
}

.user_info .regist_button,
.user_info .logout_button {
	background-color: #FFF6CC;
}

.user_info .logout_button {}

/* スキルアップテクニック5
 * :hoverは擬似クラスの一種で、カーソルをその要素に重ねることで動作します。
 * user_infoクラスがつけられた要素の子要素であるa要素にカーソルが重なると、
 * 下線が表示されます。
 */
.user .user_info a:hover {
	transform: scale(1.1);
	box-shadow: 0 4px 15px rgba(255, 77, 148, 0.4);
}

.user_info .pipeline {
	padding: 0 8px;
}

/* ---- タイトル共通 ---- */
.search_area .title,
.main .title {
	background-color: #3d98bf;
	margin: 0;
	padding: 5px 8px;
	color: #fff;
	text-shadow: 1px 1px 1px #12526d;
}

/*ユーザータイトルの色変え（伊藤）*/
.user .search_area .title,
.user .main .title {
	font-weight: 600;
	margin: 0;
	padding: 5px 8px;
	color: #fff;
	text-shadow: 1px 1px 1px gray;
}

.user .search_area .title {
	background-color: #FFD6E7;
}

.user.item_list .title {
	background-color: #FFF6CC;
}


/* ---- ナビゲーションバー ---- */
/*グラデーション追加（伊藤）*/
.navi_area {
	background: #fff;

	background-image:
		-webkit-linear-gradient(to bottom, transparent 0%, #ffffff 30%),
		-webkit-linear-gradient(to right, #FFD6E7, #FFF6CC, #C8E7FF, #E7C6FF);
	background-image:
		-moz-linear-gradient(to bottom, transparent 0%, #ffffff 30%),
		-moz-linear-gradient(to right, #FFD6E7, #FFF6CC, #C8E7FF, #E7C6FF);
	background-image:
		-ms-linear-gradient(to bottom, transparent 0%, #ffffff 30%),
		-ms-linear-gradient(to right, #FFD6E7, #FFF6CC, #C8E7FF, #E7C6FF);
	background-image:
		-o-linear-gradient(to bottom, transparent 0%, #ffffff 30%),
		-o-linear-gradient(to right, #FFD6E7, #FFF6CC, #C8E7FF, #E7C6FF);
	background-image:
		linear-gradient(to bottom, transparent 0%, #ffffff 30%),
		linear-gradient(to right, #FFD6E7, #FFF6CC, #C8E7FF, #E7C6FF);
}

.navi_menu {
	width: 960px;
	padding: 12px 0;
	margin: 0 auto;
	color: #fff;
	display: flex;
	justify-content: space-around;
	box-shadow: 0 6px 10px -4px rgba(231, 198, 255, 0.45);
}

.navi_menu li {
	display: inline-block;
}

/*編集（伊藤）*/
.navi_menu a {
	display: inline-block;
	padding: 0em 2.5em;
	font-size: 1.5em;
	line-height: 2.5em;
	border-right: 1px solid #000;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	/* 白文字 */
	font-weight: bold;

	text-shadow:
		1px 1px 0 rgba(0, 0, 0, 0.20), -1px 1px 0 rgba(0, 0, 0, 0.20),
		1px -1px 0 rgba(0, 0, 0, 0.20), -1px -1px 0 rgba(0, 0, 0, 0.20),
		0px 1px 0 rgba(0, 0, 0, 0.20), 0px -1px 0 rgba(0, 0, 0, 0.20),
		1px 0px 0 rgba(0, 0, 0, 0.20), -1px 0px 0 rgba(0, 0, 0, 0.20);
}

.navi_menu a:last-child {
	border-right: none;
}

/*選択されているメニューごとに色変更*/
.navi_menu a.current_top {
	color: #FFD6E7;
}

.navi_menu a.current_item-list {
	color: #FFF6CC;
}

.navi_menu a.current_basket-list {
	color: #C8E7FF;
}

.navi_menu a.current_order-list {
	color: #E7C6FF;
}

.hover-underline {
	/*	相対位置を指定（伊藤）*/
	position: relative;
	display: inline-block;
}

.hover-underline::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: -2px;
	left: 0;

	background-color: pink;
	transform-origin: bottom left;
	transition: transform 0.2s ease-out;
}

.navi_menu a:hover .hover-underline::after {
	transform: scaleX(1);
}

.navi_menu li:first-of-type a {
	border-radius: 6px 0px 0px 6px;
}

.navi_menu li:last-of-type a {
	border-radius: 0px 6px 6px 0px;
}

.main-visual img {
	width: 100%;
	object-fit: cover;
	object-position: center;
}

/* ---- サイドバー ---- */
.search .search_area {
	flex: 1;
}

.search,
aside.admin_menu {
	width: 20%;
}

.search .title,
.admin_menu .title {
	border-radius: 6px 6px 0 0;
	text-align: center;
	font-size: 1.1em;
}

.search_area .title {
	border-radius: 6px 6px 6px 6px;
	text-align: center;
	font-size: 1.1em;
}

.admin_menu .title {
	background: #ff6c49;
	padding: 5px;
}

.admin_menu_list .title {
	background: #ff6c49;
}

.search .form {
	padding: 15px 0 50px 5px;
}

.admin_menu .display_list {
	display: block;
	padding: 10px;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.18s;
}

.admin_menu .display_list:link,
.admin_menu .display_list:visited,
.admin_menu .display_list:hover,
.admin_menu .display_list:active {
	color: #2a2a2a;
}

.admin_menu .display_list:hover {
	background: #ffc6b9;
}

.admin_menu li:last-of-type .display_list {
	border-radius: 0 0 6px 6px;
}

/* ---- メイン ---- */
.main {
	width: 76%;
	padding-bottom: 80px;

}

.container content {
	display: flex;
}

.admin>.container.content {
	display: flex;
	justify-content: center;
}

.admin_menu .main {
	width: 100%;
}

.user .main .title,
.admin .main .title {
	padding: 8px 15px;
	position: relative;
	font-size: 1.5rem;
	background-color: #3D98BF;
}

.user .main .title {
	background-color: #ffdae0;
	padding: 14px 20px;
	border-top: 3px dotted #ffffff;
	border-bottom: 3px dotted #ffffff;
	color: #5c4747;
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 0.15em;
	text-shadow: 1px 1px 0px #ffffff;
}

.admin .main .title::before {
	position: absolute;
	content: "";
	top: 100%;
	left: 0px;
	border-width: medium 20px 10px medium;
	border-style: none solid solid none;
	border-color: currentcolor rgb(149, 158, 155) transparent currentcolor;
	border-image: initial;
	border-bottom: 10px solid transparent;
	border-right: 20px solid rgb(149, 158, 155);
}

.user .main .title::before {
	position: absolute;
	content: "";
	top: 100%;
	left: 0px;
}

.admin .main .title.no_shadow::before {
	display: none;
}

.admin .main .title {
	background: #ff6c49;
}

.container.content>.admin_menu {
	display: flex;
	width: 50%;
}

.admin_menu .admin_menu_list {
	padding: 5px 10px;
	font-size: 1.5em;
	margin: 80px auto 0;
	flex: 1;

}

.admin_menu_list .title_area {
	background: #ff6c49;
	text-align: center;
	border: 1px solid #ff6c49;
	border-radius: 6px 6px 0 0;
	font-size: 1.2em;
	color: #fff;
	text-shadow: 1px 1px 1px #333;
	padding: 5px 0;
}

.admin_menu_list .title_area_no_shadow {
	background: #ff6c49;
	text-align: center;
	border: 1px solid #ff6c49;
	border-radius: 6px 6px 0 0;
	font-size: 1.2em;
	padding: 5px 0;
}

.admin_menu_list .link_area {
	margin: 0;
}

.admin_menu_list .link_area a {
	display: block;
	padding: 10px;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.18s;
}

.admin_menu_list .link_area a:hover {
	background: #ffc6b9;
}

.admin_menu_list .link_area:last-of-type a {
	border-radius: 0 0 6px 6px;
}

.error_mess_maintenance,
.input_message,
.complete_message,
.check_message {
	padding-top: 20px;
	font-size: 1.2em;
}

.check_error_message {
	padding-top: 20px;
	font-size: 1.2em;
	color: #C00;
}

.complete_message,
.complete_link {
	font-size: 1.2em;
	color: #a0a0a0;
	margin-top: 30px;
	padding-left: 30px;
}

.complete_link a:hover {
	color: #d34320;
}

/* ---- 下部のバナー ---- */
.shipping-banner {
  position: fixed;
  width: 100%;
  bottom: 0px;
  z-index: 100;
  padding: 10px;

  text-align: center;

  color: #694c70;
  background: linear-gradient(
    110deg,
    #fce7f0,
    #e7f7ff
  );

  border: 1px solid #dfc1e6;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.04em;

  box-shadow: 0 4px 12px rgba(145, 105, 160, 0.18);

  opacity: 1;
  transform: translateY(0);

  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}

.shipping-banner p{
	margin :0;
}

.shipping-banner p .under-line{
	text-decoration: underline;
}

.shipping-banner p .highlight{
	color: #ff69b4;
}

.shipping-banner.is-hidden {
  opacity: 0;
  transform: translateY(15px);
  pointer-events: none;
}


/* ---- フッター ---- */

/* スキルアップテクニック1-3
 * footer要素の表示位置は画面下、もしくはページ下に設定すると見やすいでしょう。
 * その為に1-1ではhtml要素の表示位置を広げ、配置基準としました。
 * 1-2では他の表示とfooter要素が被らないよう余白を設定しました。
 * ここではfooter要素にpositionプロパティの値をabsoluteにすることで絶対位置表示を行います。
 * 絶対位置表示の基準はpositionプロパティの値を持つ親要素となり、
 * 今回は画面いっぱいのhtml要素がそれになります。
 * bottomプロパティは基準からの配置位置を決定し、今回は0px。
 * つまりhtml要素の一番下から0pxの位置に表示されることとなり、
 * footer要素は画面、もしくはページの最下部に表示されるようになります。
 */
footer {
	background-color: #87ceeb;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.user footer {
	color: #ff69b4;
	text-shadow:
		2px 2px 0 #fff, -2px -2px 0 #fff,
		2px -2px 0 #fff, -2px 2px 0 #fff,
		0 2px 0 #fff, 0 -2px 0 #fff,
		2px 0 0 #fff, -2px 0 0 #fff;
	background-color: #fff;
	background-image:
		-webkit-linear-gradient(to right, #FFD6E7, #FFF6CC, #C8E7FF, #E7C6FF);
	background-image:
		-moz-linear-gradient(to right, #FFD6E7, #FFF6CC, #C8E7FF, #E7C6FF);
	background-image:
		-ms-linear-gradient(to right, #FFD6E7, #FFF6CC, #C8E7FF, #E7C6FF);
	background-image:
		-o-linear-gradient(to right, #FFD6E7, #FFF6CC, #C8E7FF, #E7C6FF);
	background-image:
		linear-gradient(to right, #FFD6E7, #FFF6CC, #C8E7FF, #E7C6FF);
}

.admin footer {
	background: #ff8669;
}

small {
	height: 30px;
	line-height: 30px;
	text-shadow: 1px 1px 1px #fff;
	font-size: 8pt;
}

.user small {
	text-shadow: none;
}

item_list-title {
	height: 30px;
}