@charset "UTF-8";

body {
	color: #12526d;
	font-size: 14px;

	/*	フォントの種類を設定（グーグルフォント）（伊藤）*/
	font-family: "Zen Maru Gothic", "HG丸ｺﾞｼｯｸM-PRO", "UD DigiKyokasho NK-R", sans-serif;
	font-weight: 700;
	/* 太さを指定 */
	color: #000;
	letter-spacing: 0.1em;
	/* 文字の間隔を少し広げる */
}

/* ---- テキスト系 ---- */
.container .text {
	font-weight: bold;
	clear: both;
}

p {
	margin: 15px 0;
}

/* --- トップ画面 ---*/
.navi_area~.container {
	display: flex;
}

/* ---- 入力フォーム(ログイン) ---- */
.login_content {
	width: 450px;
	padding: 30px;
	margin: 0 auto;
	background-color: rgb(251, 251, 240);
	border: 1px solid rgb(128, 0, 0);
	border-radius: 15px;
}

.login_form_area table {
	background-color: rgb(251, 251, 240);
}


.login_form_area ul {
	margin-left: 20px;
}

.login_form {

	margin-top: 30px;
}

.login_form .label {
	width: 35%;
	padding: 8px 0;
	text-align: right;

}

.login_form .input {
	width: 55%;
	padding: 8px 5px;
	text-align: left;
}

.login_form input [type=submit] {
	padding: 3px 10px;

}

.login_form .error_list {
	display: flex;
	justify-content: center;
}

/* ---- ページタイトル ---- */
.page_title {
	font-size: 1.5rem;
	margin: 0;
	padding-left: 20px;
}

.login .page_title {
	font-weight: bold;
}

.main .page_title {
	padding-left: 10px;
}

.user_container>.page_title {
	display: inline-block;
	position: relative;
	border-left: 4px solid #FFF6CC;
	padding-left: 10px;
	margin-bottom: 30px;
}

/* ---- 会員登録入力画面へのリンク ---- */
.regist_link {
	margin-top: 25px;
	padding-right: 10px;
	text-align: right;
}

.description {
	margin-top: 30px;
	text-align: center;
	color: rgb(128, 0, 0);
}

/* ---- ボタン(機能呼出) ---- */
[type=submit].menu_button {
	width: 120px;
	height: 35px;
	border-width: 1px;
	border-style: solid;
	border-color: #808080;
	padding: 0px 10px;
	margin: 15px 10px 15px 10px;
	border-radius: 6px;
	font-weight: bold;
}

/* ---- ボタン(一覧からの編集、削除) ---- */
[type=submit].list {
	width: 80px;
}

/* ---- ボタン(削除) ---- */
[type=submit].delete {
	background: #d22222;
	color: white;
}

[type=submit].delete:disabled {
	background: #ccc;
}

/* ---- ボタン(商品個数指定) ---- */
[type=button] {
	width: 80px;
	height: 35px;
	border-width: 1px;
	border-style: solid;
	border-color: #808080;
	padding: 0px 10px;
	margin: 15px 5px 15px 5px;
	border-radius: 6px;
	font-weight: bold;
}

/* ---- 商品情報 ---- */
.item {
	width: 48.5%;
	height: 200px;
	border: 1px solid #FFD6E7;
	border-radius: 10px;
	box-sizing: border-box;
	text-decoration: none;
	margin-top: 20px;
	position: relative;
	overflow: hidden;
}

.main>.item_list {
	display: flex;
	flex-wrap: wrap;
}

.item:nth-of-type(odd) {
	margin-right: 3%;
}

.item .item_name {
	padding: 5px 10px;
	color: #fff;
	font-weight: bold;
	position: absolute;
	top: 5px;
	left: 0;
	background-color: #FFD6E7CC;
	z-index: 2;
	width: 100%;
}

.item img {
	width: auto;
	height: 100%;
	display: block;
	margin: auto;
	transition: 0.4s;
	position: relative;
	z-index: 1;
}

.item:hover img {
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2)
}

.item .description {
	padding: 5px;
	color: #4169e1;
	font-weight: bold;
}

.sorted_by {
	margin-top: 23px;
	font-size: 1.1em;
}

.sorted_by .sort_tab {
	display: inline-block;
	padding: 8px 20px;
	font-size: 15px;
	font-weight: bold;
	border-radius: 25px;
	text-align: center;
	transition: all 0.2s ease-in-out;
}

.sorted_by .sort_tab a,
.sorted_by .sort_tab span {
	border: 2px solid #ffffff;
	border-radius: 10px;
	padding: 5px;
	text-decoration: none;
}

/* 未選択（リンク状態）の「aタグ」のデザイン */
.sorted_by .sort_tab a {
	background: #f3efff;
	color: #a395b8;
	box-shadow: 0 4px 6px rgba(182, 195, 255, 0.2);
}

/* 未選択ボタンをマウスホバーしたとき */
.sorted_by .sort_tab a:hover {
	transform: translateY(-2px);
	background: #ffe6f2;
	color: #ff69b4;
	box-shadow: 0 5px 10px rgba(255, 182, 215, 0.4);
}

/* 現在選択されている「spanタグ」のデザイン */
.sorted_by .sort_tab span {
	background: linear-gradient(135deg, #ff94c4, #ffb6d7);
	color: #ffffff;
	box-shadow: 0 4px 12px rgba(255, 110, 180, 0.5);
	cursor: default;
	text-shadow: 1px 1px 0px rgba(139, 50, 90, 0.2);
}


/* ---- 入力フォーム(検索、登録、変更、削除) ---- */
.emp_form {
	margin: 0px auto 30px;
}

.emp_form .label {
	width: 45%;
	text-align: right;
	padding: 10px 0;
}

.emp_form .input {
	width: 55%;
	text-align: left;
	padding: 10px 5px;
}

.user_info_form_area,
.detail_area {
	display: block;
	width: 70%;
	margin-top: 30px;
	margin-left: 50px;
}

.user_info_form_area {
	position: relative;
	padding-bottom: 80px;
}

.info_form_area {
	margin-top: 30px;
	margin-left: 50px;
}

.payment_method_select {
	margin-bottom: 40px;
}

.input_list {
	width: 100%;
	font-size: 1.1rem;
	margin-bottom: 30px;
}

.input_list li,
.input_list dd {
	margin-bottom: 20px;
}

.payment_method_select li {
	margin-bottom: 10px;
}

.input_list label {
	display: block;
}

.input_list .input_title,
.input_list .input_value {
	display: block;
	line-height: 1.1rem;
}

.input_list .input_value {
	margin-top: 5px;
	padding-left: 1rem;
	color: #2a2a2a;
}

.input_list input,
.input_list textarea {
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	font-size: 1rem;
}

.input_list img {
	width: 45%;
}

.input_list .comments {
	font-size: 0.8rem;
	display: block;
	margin-top: -5px;
}

.input_list .radio_label,
.payment_method_select .radio_label {
	font-size: 1.1rem;
}

.input_list .radio_label {
	display: inline-block;
	padding-left: 0.5em;
}

.input_list [type="radio"] {
	display: inline;
	width: auto;
}

.input_list .error_message {

	display: block;
	line-height: 0.9em;
	font-size: 0.9rem;
	color: #C00;

}

ul.error_list {
	margin-left: 35px;
	margin-bottom: 5px;
}

/* ---- エラー表示 ---- */
li.error_msg {
	display: list-item;
	line-height: 1.0em;
	font-size: 0.9rem;
	color: #FF0000;
}

.error_list li {
	color: #C00;
	padding-left: 10px;
	list-style: disc;
}

.error_list_no_mark li {
	color: #C00;
	padding-left: 10px;
	list-style: none;
}

.user_info_form_area [type="submit"],
.info_form_area [type="submit"] {
	line-height: 2.8rem;
	min-width: 7rem;
	margin-right: 20px;
	font-size: 1rem;
}

.user_info_form_area .send_button,
.info_form_area .send_button {
	border: none;
	background: #C8E7FF;
	color: #4a7bb0;
	font-weight: bold;
}

/* 【次へ】ボタン */
.user_info_form_area .send_button {
	position: absolute;
	bottom: 20px;
	right: calc(50% - 170px);

	background: linear-gradient(135deg, #ffdee9 0%, #b5fffc 100%);
	color: #5c4747;
	font-weight: bold;
	border: none;
	padding: 10px 35px;
	border-radius: 30px;
	box-shadow: 0 4px 10px rgba(255, 182, 193, 0.5);
	cursor: pointer;
}

/* 【戻る】ボタン */
.user_info_form_area .back_button {
	position: absolute;
	bottom: 20px;
	left: calc(50% - 170px);
	border: none;
	background: #ffffff;
	color: #b8a3cd;
	border: 2px dotted #b8a3cd;
	padding: 8px 33px;
	border-radius: 30px;
	cursor: pointer;
	font-weight: bold;
}

.info_form_area .back_button {
	border: none;
	background: #ddd;
	color: #666666;
	font-weight: bold;
}

.shopping_button {
	width: 100%;
}

/* ご注文のお手続き */
.shopping_button .continue {
	background: linear-gradient(135deg, #ffdee9 0%, #b5fffc 100%);
	color: #5c4747;
	font-weight: bold;
	border: none;
	padding: 10px 24px;
	border-radius: 30px;
	box-shadow: 0 4px 10px rgba(255, 182, 193, 0.5);
	transition: all 0.1s ease-in-out;
}

.shopping_button .continue:hover {
	background: #d1a7bd;
	color: #ffffff;
	box-shadow: 0 2px 5px rgba(209, 167, 189, 0.6);
	transform: translateY(1px);
}

/* 買い物かごを空にする */
.shopping_button .delete {
	background: #ffffff;
	color: #b8a3cd;
	border: 2px dashed #b8a3cd;
	padding: 9px 23px;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 4px 10px rgba(255, 182, 193, 0.5);
	transition: all 0.1s ease-in-out;
}

.shopping_button .delete:hover {
	background: #b8a3cd;
	border-style: solid;
	color: #ffffff;
}

.detail_button_area {
	display: block;
	width: 100%;
	margin-top: 30px;
}

.detail_button_area form {
	/* display: inline-block; */
	width: 25%;
	/* margin-left:5%; */
	text-align: center;
}

.detail_button_area form:first-of-type {
	text-align: right;
}

.detail_button_area form:last-of-type {
	text-align: left;
}

.detail_button_area [type="submit"] {
	/* padding: 0.6em 1.8em; */
	font-size: 1.2em;
}

/* 【買い物かごに入れる】ボタン */
.detail_button_area .send_button {
	background: linear-gradient(135deg, #ffdee9 0%, #b5fffc 100%);
	color: #5c4747;
	font-weight: bold;
	border: none;
	padding: 10px 35px;
	border-radius: 30px;
	box-shadow: 0 4px 10px rgba(255, 182, 193, 0.5);
}

.detail_button_area .send_button:hover {
	background: #d1a7bd;
	color: #ffffff;
	box-shadow: 0 2px 5px rgba(209, 167, 189, 0.6);
	transform: translateY(1px);
}

/* 【戻る】ボタン */
.detail_button_area .back_button {
	background: #ffffff;
	color: #b8a3cd;
	border: 2px dotted #b8a3cd;
	padding: 8px 33px;
	border-radius: 30px;
}

.card_info {
	padding-top: 10px;
	border-top: 1px solid #e8e8e8;
}

.item_detail_area {
	overflow: hidden;
	margin: 30px auto 0;
}

.item_image_area {
	width: 45%;
}

.item_image_area img {
	width: 100%;
	max-width: 300px;
	height: auto;
	max-height: 300px;
}

.item_input_area img {
	width: 100%;
	max-width: 300px;
	height: auto;
	max-height: 300px;
}

.item_detail_list {
	width: 50%;
}

.item_detail_area+.user_info_form {
	clear: both;
}

/* スキルアップテクニック9
 * :first-of-typeは擬似クラスの一種で、
 * 設定した同要素複数の中から最初に現れる要素に対し設定を行います。
 * 最初に現れるform要素内のボタンに対しmarginを設定し位置を決めています。
 */
.emp_date_area form:first-of-type input[type=submit] {
	margin-left: 37.5%;
}

/* ---- 検索フォーム ---- */
.search [type=text] {
	width: 115px;
}

/*選択と検索を一体化（伊藤）*/
.search-bar {
	display: inline-flex;
	align-items: center;
	background-color: #ffffff;
	border: 2px solid #ffccff;
	border-radius: 30px;
	padding: 4px 6px 4px 15px;
	box-shadow: 0 4px 10px rgba(255, 204, 255, 0.2);
}

.category_select {
	-webkit-appearance: none;
	appearance: none;
	padding-right: 20px;
	border: none;
	background: transparent;
	color: #555;
	font-weight: bold;
	outline: none;
}

.category_select option {
	background-color: #fff0f7;
	border-radius: 10px;
	color: #6c5a75;
	padding: 12px;
	font-size: 15px;
}


/* ---- 処理完了メッセージの出力箇所 ---- */
.message {
	clear: both;
	margin-top: 80px;
	text-align: center;
}

.back_to_top_link {
	margin-top: 30px;
}

/* ---- 入力欄全般 ---- */
[type=text],
[type=password] {
	padding: 3px;
}

[type=date] {
	padding: 1px 3px;
}

/* ---- セレクトボックス ---- */
select {
	padding: 2px 5px 5px;
	color: #12526d;
}

/* ---- ボタン全般 ---- */
[type=submit] {
	border: 1px solid #808080;
	border-radius: 6px;
	padding: 2px 10px;
	color: #12526d;
	background: #fff;
	box-shadow: 1px 2px 2px #eee;
	text-shadow: 1px 1px 1px #d8d8d8;
}

/*[type=submit].delete {*/
/*	background: #d44444;*/
/*	background-image: -webkit-linear-gradient(top, #d44444, #9e1818);*/
/*	background-image: -moz-linear-gradient(top, #d44444, #9e1818);*/
/*	background-image: -ms-linear-gradient(top, #d44444, #9e1818);*/
/*	background-image: -o-linear-gradient(top, #d44444, #9e1818);*/
/*	background-image: linear-gradient(to bottom, #d44444, #9e1818);*/
/*	color: #fff;*/
/*	text-shadow: 1px 1px 1px #616161;*/
/*}*/

/*ログイン画面 送信ボタン*/
#login_submit_button {
	display: block;
	width: 172px;
	padding: 12px;
	background-color: #C8E7FF;
	color: #4a3c00;
	border: none;
	border-radius: 25px;
	font-weight: bold;
	font-size: 16px;
	transition: transform 0.2s;
}

#login_submit_button:hover {
	transform: scale(1.05);
}

#login_back_button {
	display: inline-block;
	color: #8a9ca8;
	font-size: 14px;
}

#login_back_button:hover {
	color: #ff66cc;
	/* ホバーした時だけピンクにする */
}

.category_submit_button {
	padding: 5px 10px;
	background-color: #FFF6CC;
	border: none;
	border-radius: 20px;
	color: #4a3c00;
	font-weight: bold;
	transition: transform 0.1s;
}

.category_submit_button:hover {
	transform: scale(1.08);
	background-color: #ffe680;
}


/* ---- テーブル ---- */
/* ---- 共通 ---- */
.list_table,
.detail_table {
	border-bottom: 1px solid #f0f8fb;
	background-color: #fff;
	border-collapse: collapse;
	margin: 50px auto 20px;
}

.list_table th,
.detail_table th {
	white-space: nowrap;
	padding: 5px;
	background: #add8e6;
	font-weight: normal;
	position: relative;
}

.user .list_table th,
.user .detail_table th {
	white-space: nowrap;
	padding: 5px;
	background: #FFF6CC;
	font-weight: normal;
	position: relative;
	border-radius: 5px;
}

.user .list_table.order th {
	background: #E7C6FF;
}

.list_table td,
.detail_table td {
	padding: 10px;
}

.user .list_table td,
.user .detail_table td {
	border-bottom: 2px dotted #FFF6CC;
}



/* ---- 個別 ---- */
/* ---- 一覧テーブル ---- */
.list_table {
	width: 100%;
	text-align: center;
}

.admin .list_table tr:nth-of-type(odd) {
	background: #fff0ec;
}

.admin .list_table th {
	background: #ffc6b9;
}

.list_table th:after {
	content: "";
	display: block;
	height: 90%;
	width: 1px;
	background: #fff;
	position: absolute;
	left: 0;
	top: 5%;
}

/* ---- 詳細テーブル ---- */
.detail_table {
	width: 80%;
}

.detail_table caption {
	text-align: left;
	font-size: 1.1rem;
}

.detail_table th {
	border-bottom: 1px solid #fff;
	text-align: right;
	padding-right: 10px;
}

.admin .detail_table th {
	background: #ffc6b9;
}

.detail_table td {
	border-bottom: 1px solid #f0f8fb;
}

/* ---- 会員一覧 ---- */
.sign_up_form {
	display: flex;
	flex-direction: row-reverse;
}

.sign_up_form~.list_table {
	margin: 20px auto 20px;
}

.sign_up_form .menu_button {
	margin-right: 0px;
	margin-bottom: 8px;
}

.category_list .sign_up_form .menu_button {
	width: auto;
}

.list_table.user {
	clear: both;
}

/* ---- 商品一覧 ---- */
.list_table.item_list th:last-of-type {
	width: 20%;
}

.list_table.item_list {
	margin: 0px auto 20px;
}

.list_table.item_list>tbody th,
.list_table.item_list>tbody td {
	flex-basis: 100%
}

.admin>.container {
	display: flex;
}

/* ---- 商品詳細 ---- */
.list_table.item_detail {
	margin: 10px auto 20px;
}

.list_table.item_detail a:link {
	color: rgb(128, 0, 0);
	text-decoration: underline;
	text-decoration-color: rgb(128, 0, 0);
	text-underline-offset: 4px;
}

/* 既読の状態 */
.list_table.item_detail a:visited {
	color: #d1a7bd;
	text-decoration-color: #d1a7bd;
}

/* ホバー時（マウスを乗せたとき） */
.list_table.item_detail a:hover {
	color: #ffb7dd;
	text-decoration-color: #ffb7dd;
}

.item_detail_area {
	display: flex;
	justify-content: space-between;
}

/* ---- 注文一覧 ---- */
.list_table.order {
	margin-top: 50px;
}

.list_table.order a {
	text-decoration: underline;
}

/* ---- カテゴリ一覧 ---- */
.list_table.category_list th:last-of-type {
	width: 30%;
}

.list_table.category_list {
	margin: 10px auto 20px;
}

/* ---- 注文詳細 ---- */
.list_table .total {
	font-weight: bold;
}

.detail_table.payment {
	margin: 10px auto 20px;
}

/* ---- 注文最終確認 ---- */
.list_table.item_detail td:first-of-type {
	width: 20%;
}

.list_table.item_detail img {
	max-width: 250px;
	height: 140px;
	vertical-align: middle;
	overflow: hidden;
	object-fit: cover;
	object-position: center;
}

.detail_table.address,
.detail_table.pay {
	width: 100%;
}

.detail_table.pay {
	margin-bottom: 50px;
}

.detail_table.address {
	margin: 10px auto 20px;
}

/* ---- 買物カゴ ---- */
.list_table.basket {
	margin: 40px auto 21px;
}

.list_table.basket th {
	background-color: #C8E7FF;
}

.list_table.basket th:first-of-type {
	width: 45%;
}

.list_table.basket th:last-of-type {
	width: 42%;
}

.list_table.basket td:first-of-type {
	padding-left: 20px;
	text-align: left;
}

.list_table.basket a:link {
	color: rgb(128, 0, 0);
	text-decoration: underline;
	text-decoration-color: rgb(128, 0, 0);
	text-underline-offset: 4px;
}

/* 既読の状態 */
.list_table.basket a:visited {
	color: #d1a7bd;
	text-decoration-color: #d1a7bd;
}

/* ホバー時（マウスを乗せたとき） */
.list_table.basket a:hover {
	color: #ffb7dd;
	text-decoration-color: #ffb7dd;
}


.list_table.basket [type="button"],
.list_table.basket .delete {
	margin: 0 3px;
}

.list_table.basket .delete {
	width: 80px;
	height: 35px;
	font-weight: bold;
	text-shadow: none;
	background: #b8a3cd;
	color: #ffffff;
	border: none;
	padding: 6px 16px;
	border-radius: 6px;
	box-shadow: 0 2px 4px rgba(184, 163, 205, 0.3);
}

.list_table.basket .delete:hover {
	background: pink;
}


/* ---- 商品一覧(運用管理者向け) ---- */




/* ---- 支払い方法入力 ---- */
.container #checkButton {
	margin: 10px 0;
}

#card .deadline {
	display: flex;
}

#card .deadline input[type=text] {
	width: 14%;
	height: 30px;
	border-radius: 6px;
	border: 1px solid gray;
	margin: 10px 0;
}

.deadline .text {
	width: 5px;
	line-height: 51px;
	margin: 0 7px;
}

/* ---- 買い物かご ---- */
.itemController {
	width: 40%;
}

.itemController form {
	display: inline;
}

form.add {
	margin-left: 15px;
}

form.delete {
	margin-left: 30px;
}

.buy input[type=submit] {
	margin-right: 10px;
}

/* ---- 商品画像(詳細、編集、削除) ---- */
.value img {
	width: 100%;
	height: auto;
}

/* ---- リンク表示(ブロック中央寄せ) ---- */
p.link_center {
	text-align: center;
}

/* ---- 一覧表示全般 ---- */
.paging {
	text-align: center;
	margin: 15px 0;
	font-size: 1rem;
}

.paging li {
	display: inline-block;
}

.paging .current,
.paging a {
	padding: 0 3px;
}

.paging a {
	display: block;
}